body {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(1, 31, 63);
  color: rgb(254, 242, 191);
}
.lost {
  background-color: red;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 48px;
  height: 8rem;
  text-align: center;
}
.sqr {
  width: 200px;
  height: 200px;
  border: 0.5rem solid black;
  border-radius: 2rem;
}
.sqr1 {
  background-color: green;
}
.sqr2 {
  background-color: red;
}
.sqr3 {
  background-color: yellow;
}
.sqr4 {
  background-color: blue;
}
.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
.clicked {
  box-shadow: 2px 2px 12px 0.5px rgb(255, 255, 255);
}
