<style>
  body {
    padding: 0px;
    margin: 0px;
  }
  nav {
    background-color: rgb(147, 136, 136);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  a {
    text-decoration: none;
    padding: 5rem;
    color: white;
    font-size: 20px;
  }
  .title {
    color: rgb(62, 60, 60);
    margin-right: 30rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
</style>
<nav class="navbar">
  <div class="title">DAILY JOURNAL</div>
  <a href="/">HOME</a>
  <a href="/about">ABOUT</a>
  <a href="/blog">CONTACT US</a>
</nav>
